body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  .header2{
    margin-left: 50px;
  }
  
  h1 {
    color: #333;
  }
  
  img {
    width: 500px;
    height: 400px;
    margin-top: 10px;
  }
  
  .box {
    display: flex;
    justify-content: space-around;
  }
  
  .Discription,
  .Directions {
    width: calc(50% - 2px);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
  }
  
  .Discription {
    border-right: 2px solid #ccc;
  }
  
  .Discription h2,
  .Directions h1 {
    color: #0066cc;
    margin-top: 20px;
  }
  
  .Discription p,
  .Directions p {
    color: #333;
    line-height: 1;
  }
  
  .Discription h2 + p {
    margin-top: 5px; 
  }
  
  .Discription h2 + p + br + p {
    margin-left: 20px;
  }
  